.wrapper {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.wrapperSection {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.canvas {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
